@font-face {
    font-family:"PlaylistScript";
    src: url("PlaylistFF/Playlist\ Script.otf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
}

/* --- HEADER --- */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e4f6e6;
    padding: 10px 40px;
    font-size: 17px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: rgba(0, 51, 102, .4) 0 2px 5px; /* HEXADECIMAL #00336666 */
}

nav:hover {
    box-shadow: rgba(0, 51, 102, .6) 0 2px 5px;
    transition-duration: 500ms;
}

nav a {
    text-decoration: none;
    color: #003366;
    font-weight: 500;
}

nav a:hover {
    color: black;
    transition-duration: 400ms;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo img {
    height: 45px;
    width: auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
}

.kidz {
    font-size: 40px;
    font-family: "PlaylistScript", cursive;
    color: #05953f;
    margin-left: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

/* --- MAIN --- */
.hero {
    background: linear-gradient(rgba(0, 51, 102, 0.5), rgba(52, 151, 90, 0.5)), url("images/orange.png") center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    padding: 40px 0;
}

h1 {
    color: #e4f6e6;
    font-size: 150px;
    font-family:"PlaylistScript",cursive;
    font-weight: 100;
    margin-bottom:-50px;
}

h1:hover {
   color: white;
   transition-duration: 300ms;
}

.quote {
    font-weight: normal;
    color: #e4f6e6;
    font-size: 25px;
}

.hero p {
    margin-top: 0px;
    color: #003366;
    margin-top: 25px;
    font-size: 44px;
    font-weight: 500;
}

.button {
    border: #003366 solid 2px;
    text-decoration: none;
    background-color:#e4f6e6;
    color: #003366 ;
    padding: 15px 20px;
    border-radius: 3em;
    display: inline-block;
    font-size: 20px;
    margin: 20px 0;
}

.button:hover{
    color:#e4f6e6;
    background-color: #003366;
    transition-duration: 300ms;
}
 
/* --- SECTION 1 --- */
section {
    background-color: #e4f6e6;
    overflow: hidden;
    transition: background-color 0.5s;
    padding: 60px 90px;
}

section div {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    align-items: flex-start;
}

h2 {
    font-size: 45px;
    font-weight: normal;
    color: #003366;
    margin: 20px 0;
}

section p {
    font-size: 22px;
    color: #003366;
    line-height: 1.6;
}

#def {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    gap: 30px;
}

#def > div {
    width: 180px;
    height: auto;
}

section div > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    list-style: decimal-leading-zero inside;
    padding: 50px 0;
    border-top: 2px solid #003366;
}

h4 {
    font-size: 20px;
    color: #003366;
    font-weight: 600;
    margin-bottom: 15px;
}

section div > ul li p {
    font-size: 18px;
    line-height: 1.4;
}

/* --- SECTION 2 --- */
#products {
    background: #003366;
    color: #e4f6e6;
}

#products > div {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    margin: 40px 0;
}

#products > div > div {
    border: 1px solid #e4f6e6;
    width: 250px;
    height: auto;
}

#products > div > div:hover {
    border: 2px solid #e4f6e6;
    cursor: pointer;
}

#products > div > div > div:nth-child(1) {
    width: 100%;
    height: 260px;
}

#products h2 {
    color: #e4f6e6;
}

.product-description {
    padding: 10px;
    gap: 5px;
}
.product-description p {
    color: #e4f6e6;
}

#products .button {
    border: #e4f6e6 solid 2px;
    text-decoration: none;
    background-color:#003366;
    color: #e4f6e6;
    display: inline-block;
}

#products .button:hover{
    color:#003366;
    background-color: #e4f6e6;
    transition-duration: 300ms;
}