@font-face {
    font-family:"PlaylistScript";
    src: url("PlaylistFF/Playlist\ Script.otf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
}

body {
    scroll-behavior: smooth;
}

/* --- HEADER --- */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e4f6e6;
    padding: 10px 40px;
    font-size: 17px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: rgba(0, 51, 102, 0.4) 0 2px 5px; /* HEXADECIMAL #00336666 */
}

nav:hover {
    box-shadow: #003366 0 2px 5px;
}

nav a {
    text-decoration: none;
    color: #003366;
    font-weight: 500;
}

nav a:hover {
    color: black;
    transition-duration: 400ms;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0px;
}

.logo img {
    height: 45px;
    width: auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
}

.kidz {
    font-size: 40px;
    font-family: "PlaylistScript", cursive;
    color: #05953f;
    margin-left: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

/* --- MAIN --- */
.hero {
    background: linear-gradient(rgba(0, 51, 102, 0.5), rgba(52, 151, 90, 0.5)), url("images/orange.png") center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

h1 {
    color: #e4f6e6;
    font-size: 150px;
    font-family:"PlaylistScript",cursive;
    font-weight: 100;
    margin-bottom:-30px;
    margin-top: 120px;
}

h1:hover {
   color: white;
   transition-duration: 300ms;
}

.quote {
    font-weight: normal;
    color: #e4f6e6;
    font-size: 25px;
}

.hero p {
    margin-top: 0px;
    color: #003366;
    margin-top: 30px;
    font-size: 50px;
    font-weight: normal;
}

.button {
    border: #003366 solid 2px;
    text-decoration: none;
    background-color:#e4f6e6;
    color: #003366 ;
    padding: 15px 20px;
    border-radius: 3em;
    display: inline-block;
    font-size: 20px;
    margin: 20px 0 130px 0;
}

.button:hover{
    color:#e4f6e6;
    background-color: #003366;
    transition-duration: 300ms;
}

.boutique{
    background-color: #e4f6e6;
     overflow: hidden;
     transition: background-color 0.5s;
     padding-left: 80px;
    padding-right: 80px;
     
}
.fruits{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.inside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 60px;

}
#titre{
    font-size: 45px;
    font-weight:normal;
    color: #003366;
}
#certif{
    font-size: 25px;
    color: #003366;

}
.def{
    display: flex;
    margin-top: 20px;
    
}